<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display: flex; justify-content: space-between">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
        <div class="navbar-nav">
          <% if (username) {%>
            <h7 style="display: flex; align-items: center; padding-right: 10px; color: #f8f9fa">Logged in as: <span style="color: #1a1919; margin-left: 5px;"><%= username.email %></span></h7>
            <form method="POST" action="/logout">
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
            <% } else { %>
          <a class="nav-item nav-link" href="/register">Register</a>
          <a class="nav-item nav-link" href="/login">Login</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>